<div class="card text-dark" style="width: 18rem" align="center">
  <img
    src="<%= element.img %>"
    class="card-img-top center"
    alt="..."
    style="width: 14rem; height: 14rem"
  />
  <div class="card-body">
    <h5 class="card-title"><%= element.name %></h5>
    <p class="card-text"><%= element.description %></p>
    <a href="#" class="btn btn-primary">edit</a>
    <a href="#" class="btn btn-primary">detail</a>
  </div>
</div>
