<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>brewerywiwis's Store</title> -->
    <%- include('../includes/head') %>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <%- include('../includes/navigation') %>
    <% if (isLoggedIn === false) { %>
      <h1>You don't have permission to see this page</h1>
    <% }else{ %>
      <h1 class="pt-3" align='center'>This is list of product</h1>
    <div class="row align-items-start bg-dark text-white">
      <% productArray.forEach(element => { %>
      <%- include('./card', {element:element}) %>
      <% }); %>
    </div>
    <% } %>
  </body>
</html>
